.content {
    height: 100%;
    width: 100%;
     -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.5;
}

.content a {
    text-decoration: none;
    color: white 
}

.content .button-container {
/*    margin: 0 auto; */
    margin-top: 10%;
    min-width: 300px;
    min-height: 380px;
    text-align: center;
}

.content .button-container section {
    color: white;
    opacity: 1.0;
}

.content .button-container section p:nth-child(1) {
    font-family: 'Pacifico', cursive;
    font-size: 57px;
    margin: 0;
}

.content .button-container section p:nth-child(2) {
/*    font-family: 'Pacifico', cursive;*/
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    margin: 0;
    color: #F9B37B;
}

.content .button-container section p:nth-child(3) {
    font-family: 'Lato', sans-serif;
    font-size: 33px;
    margin: 80;
    margin-bottom: 0;
    color: #3f3f37;
}

.content .button-container div{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    height: 40px;
    width: 300px;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 25px;
    opacity: 0.9;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    font-family: 'Lato', sans-serif;
}

.content .button-container div a {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 25px;
    
}

.content .button-container div:hover {
    background-color: rgba(255,255,255,0.2);
    opacity: 1.0;
    cursor: pointer;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.content .button-container #calculus-button:hover {
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-box-shadow: 0px 0px 31px -1px rgba(230,14,32,1);
    -moz-box-shadow: 0px 0px 31px -1px rgba(230,14,32,1);
    -o-box-shadow: 0px 0px 31px -1px rgba(230,14,32,1);
    box-shadow: 0px 0px 31px -1px rgba(230,14,32,1);
}

.content .button-container #calculus-button:active {
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    background-color: rgba(255,255,255,0.3);
    -webkit-box-shadow: 0px 0px 31px 4px rgba(230,14,32,1);
    -moz-box-shadow: 0px 0px 31px 4px rgba(230,14,32,1);
    -o-box-shadow: 0px 0px 31px 4px rgba(230,14,32,1);
    box-shadow: 0px 0px 31px 4px rgba(230,14,32,1);
}

.content .button-container #chemistry-button:hover {
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    -webkit-box-shadow: 0px 0px 31px -1px rgba(102,114,247,0.69);
    -moz-box-shadow: 0px 0px 31px -1px rgba(102,114,247,0.69);
    -o-box-shadow: 0px 0px 31px -1px rgba(102,114,247,0.69);
    box-shadow: 0px 0px 31px -1px rgba(102,114,247,0.69);
 }   

.content .button-container #chemistry-button:active {
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    background-color: rgba(255,255,255,0.3);
    -webkit-box-shadow: 0px 0px 31px 4px rgba(102,114,247,0.69);
    -moz-box-shadow: 0px 0px 31px 4px rgba(102,114,247,0.69);
    -o-box-shadow: 0px 0px 31px 4px rgba(102,114,247,0.69);
    box-shadow: 0px 0px 31px 4px rgba(102,114,247,0.69);
}

.content .button-container div p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 450px) {
    .content .button-container section p:nth-child(1) {
    font-size: 43px;
}

.content .button-container section p:nth-child(2) {
    font-size: 14px;
}

.content .button-container section p:nth-child(3) {
    font-size: 23px;
}
    
    .content .button-container div {
        width: 200px;
        font-size: 20px;
        line-height: 1.8;
    }
}

@media only screen and (max-height: 550px) {
    .content .button-container {
        margin-top: 5%;
    }
    
    .content .button-container section p:nth-child(2) {
        display: none;
    }
}

@media only screen and (max-height: 400px) {
    .content .button-container {
        margin-top: 0%;
    }
    
    
    .content .button-container section p:nth-child(2), .content .button-container section p:nth-child(3) {
        display: none;
    }
}