.content {
    height: 100%;
    width: 100%;
    min-width: 310px;
     -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

.content .text-container {
    height: 80%;
    margin: 0;
    margin: 0 auto;
    width: 60%;
}



.content .text-container h1 {
    font-family: 'Slabo 27px', serif;
    margin: 0;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 40px;
}

.content .text-container h2 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #3f3f37;
}

.content .text-container h2 #tan-text {
    color: #F9B37B;
}

.content .text-container h2 #black-text {
    color: #3f3f37;
}


@media only screen and (max-height: 650px), only screen and (max-width: 850px) {
    .content .text-container h1 {
        font-size: 30px;
    }
    .content .text-container h2 {
        font-size: 22px;
    } 
}



@media only screen and (max-height: 450px), only screen and (max-width: 700px) {
    .content .text-container h1 {
        font-size: 26px;
    }
    .content .text-container h2 {
        font-size: 19px;
    } 
}

@media only screen and (max-height: 350px), only screen and (max-width: 550px) {
    .content .text-container h1 {
        font-size: 26px;
    }
    .content .text-container h2 {
        font-size: 19px;
    } 
}


@media only screen and (max-height: 250px), only screen and (max-width: 420px) {
    .content .text-container h1 {
        font-size: 20px;
    }
    .content .text-container h2 {
        font-size: 14px;
    } 
}


